.navbtn{
    padding: 11.5px 23px;
    border-radius: 3rem;
    color: white;
    border-style: none;
}

.navbtnnotlast{
    margin-right: 37px;
}

.navbtn.btn-purple{
    background-color: #8338EC;
}
.navbtn.btn-purple:hover{
    background-color: #9552f3;
}
.navbtn.btn-purple:active{
    background-color: #631ac9;
}

.navbtn.btn-blue{
    background-color: #3A86FF;
}
.navbtn.btn-blue:hover{
    background-color: #5093ff;
}
.navbtn.btn-blue:active{
    background-color: #246ee5;
}

.navbtn.btn-red{
    background-color: #FF006E;
}
.navbtn.btn-red:hover{
    background-color: rgb(255, 94, 142);
}
.navbtn.btn-red:active{
    background-color: #d51b6c;
}

.navbar-container{
    background-color: #CDB4DB ;
    padding: 13px 44px;
}

.navbar-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9552f3;
}

.navbar-profile-img:hover{
    filter: brightness(1.05);
    cursor: pointer;
}

.navbar-dropdown-container{
    /* display: inline; */
    background-color: #8b79a9;
    /* border-radius: 15px;
    width: 175px;
    justify-content: left;
    border: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    padding: 5px 0px; */

}

.navbar-dropdown-content{
    /* width: 100%;
    height: 100%; */
    border-radius: 15px;
    margin: 0px 10px;
}
.navbar-dropdown-content:hover{
    cursor: pointer;
    background-color: #c0b4d3;
}

.navbar-dropdown-link{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.navbar-ul{
    list-style-type: none;
}

.navbar-name{
    justify-content: center;
    align-items: center;
}

.navbar-profile-group{
    display: flex;
    align-items: center;
}